<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="AndroidLayouts">
    <shared>
      <config />
    </shared>
  </component>
  <component name="AndroidLogFilters">
    <option name="TOOL_WINDOW_CONFIGURED_FILTER" value="Show only selected application" />
  </component>
  <component name="ChangeListManager">
    <list default="true" id="4d88bb4e-bdcf-4499-a306-402dcbd83b6c" name="Default Changelist" comment="E-Commerce_Auction_APP">
      <change afterPath="$PROJECT_DIR$/android/app/src/main/kotlin/hassan/kannapy/Application.kt" afterDir="false" />
      <change afterPath="$PROJECT_DIR$/assets/images/kannapy_logo.jpg" afterDir="false" />
      <change afterPath="$PROJECT_DIR$/assets/images/kannapy_logo_splash.jpg" afterDir="false" />
      <change afterPath="$PROJECT_DIR$/lib/adminScreens/requests.dart" afterDir="false" />
      <change afterPath="$PROJECT_DIR$/lib/models/addressModel.dart" afterDir="false" />
      <change afterPath="$PROJECT_DIR$/lib/tools/HistoryDetails.dart" afterDir="false" />
      <change afterPath="$PROJECT_DIR$/lib/tools/VaultItemTile.dart" afterDir="false" />
      <change afterPath="$PROJECT_DIR$/lib/tools/seedVaultItems.dart" afterDir="false" />
      <change afterPath="$PROJECT_DIR$/lib/tools/storeItems.dart" afterDir="false" />
      <change afterPath="$PROJECT_DIR$/lib/userScreens/codeScreen.dart" afterDir="false" />
      <change afterPath="$PROJECT_DIR$/lib/userScreens/requestMerc.dart" afterDir="false" />
      <change beforePath="$PROJECT_DIR$/.gitignore" be